@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Epilogue';
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-family: 'Epilogue';
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-family: 'Epilogue';
    font-weight: 600;
}

p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
}